        * {
            margin: 0;
            padding: 0;

        }

        :root {
            --background-color: rgba(64, 17, 11);
            --text-color: rgb(245, 188, 30);
        }

        body {
            background-color: var(--background-color);
            background-image: url(logo.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 260px;


        }

        header {
            height: 100px;
            position: sticky;
            top: 0;
            background-color: var(--background-color);

        }

        header nav {
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center
        }

        header nav h1 {
            color: var(--text-color);

        }

        header nav ul {

            list-style: none;
            display: flex;
            gap: 25px;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            width: 500px;
        }

        header nav ul li a {
            text-decoration: none;
            color: var(--text-color);

        }

        header nav ul li a:hover {
            font-weight: bold;
        }

        .home{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            align-items: center;
            height: 75vh;
            width: 100vw;
            margin: top 150px; 


        }

       .home h1{
        color: wheat;
        font-size: 40px;
        -webkit-text-stroke: 1px wheat;
        
       }

       .home p{
        color: var(--text-color);
        font-size: 20px;
       }